/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.wrapper,
.navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav, section {
    float: left;
  }
  
  nav {
    width: 200px;
    margin-right: 10px;
  }
  
  section {
    width: 750px;
  }

.navitem:hover {
    background-color: #e4ecfa; 
    color: #333; 
}

.navitem:hover .indicator {
    background-color: #333; 
}

.navitem:hover .hoverindicator {
    background-color: #333; 
}


.navitem {
    text-decoration: none;
    color: #570404;
    padding: 10px 20px;
    position: relative;
    margin: 0 10px;
}

.navitem.active {
    background-color: #123b81;
    border-radius: 5px;
    color: #ffffff;
}

.indicator,
.hoverindicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

.navsearch {
    position: relative;
}

.searchbox {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 200px;
}

.searchicon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9,
.container12 {
    padding: 20px;
    border-radius: 5px;
    width: auto;
    overflow: hidden;
}

.container1 {
    display: flex;
}

.container2 {
    background-color: #4ECDC4;
    max-width: 300px;
    height: auto;
    margin-right: 20px;
    padding-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container3 {
    background-color: #fff;
    display: grid;
}

.container4 {
    background-color: #2c8ec7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container5 {
    justify-content: content;
    padding: 10px;
    max-width: 250px;
    height: auto;
    max-height: 3000px;
    background-color: #ee1515;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.container12 {
    justify-content: content;
    padding: 10px;
    max-width: 250px;
    height: auto;
    max-height: 3000px;
    background-color: #48c9a0;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.container .card {
  position: relative;
  max-width : 260px;
  height : 260px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
p {
  margin-top: 10px;
}
.container .card:hover {
  height : auto;    
}

.container .card .image {
  width : 260px;
  height : 260px;
  top : -40%;
  
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;

}

.container .card .content {
  top : -140px;
  padding : 10px;
  color : #111;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 5px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

.container6 {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container7 {
    max-height: 600px;
}

.container11 {
    padding-top: 5px;
    margin-left: 10px;
}

.content {
    transition: max-height 0.3s ease;
}

.show-more {
    cursor: pointer;
    color: blue;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

h4 {
    font-size: 16px;
    margin-bottom: 4px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-bottom: 10px;
    padding-left: 20px;
}

.container .example {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
}

.container .example p {
    margin-bottom: 0;
}

.container .example a {
    color: #007bff;
    text-decoration: none;
}

.container .example a:hover {
    text-decoration: underline;
}

.container .checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-wrapper-11 {
    margin-right: 20px;
    margin-bottom: 10px;
}

.checkbox-wrapper-11 label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-wrapper-11 input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.info .col-md-4,
.info .col-xs-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 10px;
}

.info .col-md-8,
.info .col-xs-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.container .row.info p {
    margin-bottom: 0;
}

.abbr {
    border-bottom: 1px dotted #000;
    cursor: help;
}

.abbr:hover {
    text-decoration: none;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
    }

    .container2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container3 {
        grid-template-columns: 1fr;
    }

    .container4,
    .container5,
    .container6,
    .container7,
    .container8,
    .container9 {
        margin-bottom: 20px;
    }

    .container6 {
        flex-direction: column;
    }
}

/* FAQ */
.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.faq {
    width: absolute; 
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    background-color: #e7e7e7;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}

.answer {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.answer.active {
    display: block;
}

/* Footer Styles */
.background {
    position: relative;
    overflow: hidden;
    height: 100px; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #FF6B68;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cmp-card__button-wrapper {
    flex: 1;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    text-align: center;
}

.socials,
.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icon {
    font-size: 24px;
    color: #fff;
}
